*,*:after,* :before{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box; box-sizing: border-box;
text-align: center;
font-family: 'Avenir';
}

body{
    font-family: arial; font-size: 16px; margin: 0;
    background: #60c0c6;
    color: white;
}

.container {

    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height:100vh ; */

}

.water_wave{
    width: 500px;
    height: 500px;

    background: white;
        border-radius: 50%;

        /* box-shadow:  0 0 20px 0 rgba(0, 0, 0, .4),
        0 0 20px 0 rgba(0, 0, 0,.3)
        ; */

        position: relative;
        overflow: hidden;
}



.water_wave:after,
.water_wave:before{
    content: "";
    position: absolute;
    height: 200%;
    width: 200%;
    /* top: -50%; */
    left: 50%;
    background:yellow ;
}


.water_wave:after{
    border-radius: 45%;
    animation:dynamicWave1 5s linear infinite;
}
.water_wave:before{
    border-radius: 35%;
    background: green;
    animation:dynamicWave1 5s linear infinite;
}




.water_wave2{
    width: 500px;
    height: 500px;

    background: white;
        border-radius: 50%;
/* 
        box-shadow:  0 0 20px 0 rgba(0, 0, 0, .4),
        0 0 20px 0 rgba(0, 0, 0,.3)
        ; */

        position: relative;
        overflow: hidden;
}


.water_wave2:after,
.water_wave2:before{
    content: "";
    position: absolute;
    height: 200%;
    width: 200%;
    /* top: -50%; */
    left: 50%;
    background: #e03389;
}


.water_wave2:after{
    border-radius: 45%;
    animation:dynamicWave2 5s linear infinite;
}
.water_wave2:before{
    border-radius: 35%;
    background:#61C0C7;
    animation:dynamicWave2 5s linear infinite;
}

/* 
@keyframes water_wave {
    0%{
        transform: translate(-50%,50%) rotate(0deg);
        top: -15%;
    }
    50%{
        top: -20%;
    }
    100%{
        transform: translate(-50%,50%) rotate(360deg);
        top: -15%;
    }
    
}


@keyframes water_wave2 {
    0%{
        transform: translate(-50%,50%) rotate(0deg);
        top: -10%;
    }
    50%{
        top: -20%;
    }
    100%{
        transform: translate(-50%,50%) rotate(360deg);
        top: -10%;
    }
    
} */